<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71391074366-hi4ptjrbm2l6e1kngdp6ou7bv7mci92t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71391074366-hi4ptjrbm2l6e1kngdp6ou7bv7mci92t</string>
	<key>API_KEY</key>
	<string>AIzaSyBs2YijMj9F5103blaZH5HEqO6EOZba9LM</string>
	<key>GCM_SENDER_ID</key>
	<string>71391074366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grsouza.Next</string>
	<key>PROJECT_ID</key>
	<string>next-15055</string>
	<key>STORAGE_BUCKET</key>
	<string>next-15055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71391074366:ios:191316f305d083ec</string>
	<key>DATABASE_URL</key>
	<string>https://next-15055.firebaseio.com</string>
</dict>
</plist>